http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/usesStateSummary?organizationId=TCEQMAIN&reportingCycle=2022
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2lk6gsbulftclioge0
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '983'
      x-vcap-request-id: f2d37d35-87bc-40d4-695a-cab81eea4a38
    body:
      string: '{"data":{"organizationIdentifier":"TCEQMAIN","organizationName":"Texas","organizationTypeText":"State","reportingCycles":[{"reportingCycle":"2022","cycleStatus":"EPA
        Final Action","combinedCycles":[],"waterTypes":[{"waterTypeCode":"RESERVOIR","unitsCode":"Acres","useAttainments":[{"useName":"Recreation
        Use","Fully Supporting":884110.38,"Fully Supporting-count":252,"Insufficient
        Information":162050.26,"Insufficient Information-count":55,"Not Assessed":15742.14,"Not
        Assessed-count":8,"Not Supporting":5959.57,"Not Supporting-count":2,"parameters":[{"parameterGroup":"PATHOGENS","Cause":5959.57,"Cause-count":2,"Insufficient
        Information":27029.94,"Insufficient Information-count":9,"Meeting Criteria":884110.38,"Meeting
        Criteria-count":252,"Removed":120.03,"Removed-count":1}]},{"useName":"DOMESTIC
        WATER SUPPLY - PUBLIC WATER SUPPLY","Fully Supporting":1326643.36,"Fully Supporting-count":334,"Insufficient
        Information":25705.15,"Insufficient Information-count":5,"parameters":[{"parameterGroup":"RADIATION","Meeting
        Criteria":57914.53,"Meeting Criteria-count":18},{"parameterGroup":"MERCURY","Insufficient
        Information":9839.36,"Insufficient Information-count":5,"Meeting Criteria":22334.94,"Meeting
        Criteria-count":14},{"parameterG[...]
[...]
