http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/actions?actionIdentifier=R8-ND-2018-03&summarize=N&returnCountOnly=N
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2jhrj9o3h859qd9teg
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '998'
      x-vcap-request-id: d9e401fa-62d8-4a0a-675a-8a3ca0407441
    body:
      string: '{"items":[{"organizationIdentifier":"21NDHDWQ","organizationName":"North
        Dakota","organizationTypeText":"State","actions":[{"actionIdentifier":"R8-ND-2018-03","actionName":"Wild
        Rice River E. coli TMDL, Segment 012 - Sargent and Richland Counties","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2018-08-22","organizationId":"21NDHDWQ","documents":[{"agencyCode":"E","documentTypes":[{"documentTypeCode":"Transmitted
        Approval Letter"}],"documentFileType":"application/pdf","documentFileName":"Wild
        Rice River Seg 012 Ecoli TMDL_Approval Letter_signed 9-21-2018.pdf","documentName":"Wild
        Rice River E. coli TMDL, Segment 012, Approval","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/actions/21NDHDWQ/R8-ND-2018-03/110893"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"TMDL
        Report"}],"documentFileType":"application/pdf","documentFileName":"Wild Rice
        River Seg 012 Ecoli TMDL_Final_8-23-2018.pdf","documentName":"Wild Rice River
        E. coli TMDL, Segment 012","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/actions/21NDHDWQ/R8-ND-2018-03/110892"},{"agencyCode":"E","documentTypes":[{"documentTypeCode":"EPA
        Decision Rationale"}],"documentFileType":"application/pdf","documentFileName":"Wild
        Rice River Seg 012 Ecoli TMDL_Final Review Decision.pdf","documentName":"Wild
        Rice River E. coli TMDL, Segment 012, Review Decision","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/actions/21NDHDWQ/R8-ND-2018-03/110894"}],"associatedWaters":{"specificWaters":[{"assessmentUnitIdentifier":"ND-09020105-012-S_00","associatedPollutants":[{"pollutantName":"ESCHERICHIA
        COLI (E. COLI)","pollutantSourceTypeCode":"Nonpoint source","explicitMarginofSafetyText":"10%
        of the loading capacity","implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":"30-day
        geometric mean = 126 CFU/100mL"}],"parameters":[{"parameterName":"ESCHERICHIA
        COLI (E. COLI)","associatedPollutants":[{"pollutantName":"ESCHERICHIA COLI
        (E. COLI)"}]}],"sources":[]}]},"TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2018-09-20","indianCountryIndicator":null},"pollutants":[],"associatedActions":[],"histories":[]}]}],"count":1}'
  recorded_at: 2026-06-29 19:38:16
recorded_with: VCR-vcr/2.1.0
