http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/assessments?organizationId=SDDENR&probableSource=GRAZING%20IN%20RIPARIAN%20OR%20SHORELINE%20ZONES&returnCountOnly=N&excludeAssessments=N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |
        { "items":[{ "organizationIdentifier":"SDDENR", "organizationName":"South Dakota", "organizationTypeText":"State", "reportingCycleText":"2020", "combinedCycles":[], "reportStatusCode":"EPA Final Action", "documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Integrated Report Document"}],"documentFileType":"application/pdf","documentFileName":"SD_2020_IR_final.pdf","documentName":"SD 2020 Integrated Report","documentDescription":null,"documentComments":"IR final","documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/4901/138265"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"EPA Transmittal Letter"}],"documentFileType":"application/pdf","documentFileName":"Hunter_Transmittal Letter to EPA_2020_IR.pdf","documentName":"Transmittal letter","documentDescription":null,"documentComments":"SD DENR tranmittal letter to EPA","documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/4901/138320"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Summary of State Response to Public Comments"}],"documentFileType":"application/pdf","documentFileName":"SD_2020_IR Comments & Responses.pdf","documentName":"Public Comments and DENR Responses","documentDescription":null,"documentComments":"State responses to public and EPA comments","documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/4901/138321"},{"agencyCode":"E","documentTypes":[{"documentTypeCode":"EPA Transmittal Letter"}],"documentFileType":"application/pdf","documentFileName":"South Dakota 2020 IR Approval Letter signed.pdf","documentName":"EPA 2020 SD IR Approval Letter","documentDescription":null,"documentComments":null,"documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/4901/194746"}], "assessments":[{ "assessmentUnitIdentifier":"SD-BS-R-BIG_SIOUX_15", "agencyCode":"S", "trophicStatusCode":null, "useAttainments":[{"useName":"Fish and Wildlife Propagation, Recreation, and Stock Watering Waters","useAttainmentCode":"F","threatenedIndicator":"N","trendCode":null,"agencyCode":"S","assessmentMetadata":{"assessmentBasisCode":null,"assessmentTypes":[{"assessmentTypeCode":"PHYSICAL/CHEMICAL","assessmentConfidenceCode":"Good"}],"assessmentMethodTypes":[],"monitoringActivity":null,"assessmentActivity":null},"useAttainmentCodeName":"Fully Supporting"},{"useName":"Immersion Recreation Waters","useAttainmentCode":"N","threatenedIndicator":"N","trendCode":null,"agencyCode":"S","assessmentMetadata":{"assessmentBasisCode":null,"assessmentTypes":[{"assessmentTypeCode":"PHYSICAL/CHEMICAL","assessmentConfidenceCode":"Good"}],"assessmentMethodTypes":[],"monitoringActivity":null,"assessmentActivity":null},"useAttainmentCodeName":"Not Supporting"},{"useName":"Irrigation Waters","useAttainmentCode":"F","threatenedIndicator":"N","trend[...]
