http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/assessments?organizationId=SDDENR&probableSource=GRAZING+IN+RIPARIAN+OR+SHORELINE+ZONES&returnCountOnly=N&excludeAssessments=N
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2ji36qrih982q43s4g
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '992'
      x-vcap-request-id: b1b37af5-1d2c-4a51-6abe-d29160b78d2d
    body:
      string: |
        { "items":[{ "organizationIdentifier":"SDDENR", "organizationName":"South Dakota", "organizationTypeText":"State", "reportingCycleText":"2026", "combinedCycles":[], "reportStatusCode":"EPA Final Action", "documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Appendices"}],"documentFileType":"application/pdf","documentFileName":"ApprovedTMDLsReport.pdf","documentName":"SD Approved TMDLs List","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/cycles/20145/226699"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Assessment and listing methodology"}],"documentFileType":"application/pdf","documentFileName":"AssessmentMethodology2026Final.pdf","documentName":"SD 2026 Assessment Methodology","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/cycles/20145/226700"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Other Supporting Docum[...]
