http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/assessmentUnits?assessmentUnitIdentifier=AL03150201-0107-200
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"items":[{"organizationIdentifier":"21AWIC","organizationName":"Alabama
        Department of Environmental Management","organizationTypeText":"State","assessmentUnits":[{"assessmentUnitIdentifier":"AL03150201-0107-200","assessmentUnitName":"Pine
        Creek","locationDescriptionText":"from Alabama River (Woodruff Lake) to its
        source","agencyCode":"S","stateCode":"AL","statusIndicator":"A","waterTypes":[{"waterTypeCode":"STREAM","waterSizeNumber":9.58,"unitsCode":"Miles","sizeEstimationMethodCode":"GIS
        Calculation","sizeSourceText":"NHD","sizeSourceScaleText":"1:24,000"}],"locations":[{"locationTypeCode":"River
        Basin","locationText":"Alabama"},{"locationTypeCode":"HUC-8","locationText":"03150201"},{"locationTypeCode":"County","locationText":"Elmore
        County"},{"locationTypeCode":"County","locationText":"Autauga County"}],"monitoringStations":[{"monitoringOrganizationIdentifier":"21AWIC","monitoringLocationIdentifier":"PNCE-1","monitoringDataLinkText":null},{"monitoringOrganizationIdentifier":"21AWIC","monitoringLocationIdentifier":"PINA-2","monitoringDataLinkText":null}],"useClass":{"useClassCode":"156","useClassName":"F&W"},"documents":[]}]}],"count":1}'
  recorded_at: 2023-04-06 15:52:13 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
