http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/assessments?organizationId=SDDENR&probableSource=GRAZING%20IN%20RIPARIAN%20OR%20SHORELINE%20ZONES&returnCountOnly=N&excludeAssessments=N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: |
        { "items":[{ "organizationIdentifier":"SDDENR", "organizationName":"South Dakota", "organizationTypeText":"State", "reportingCycleText":"2022", "combinedCycles":[], "reportStatusCode":"EPA Final Action", "documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Integrated Report Document"}],"documentFileType":"application/pdf","documentFileName":"SDDANR_2022_IR_final_submitted.pdf","documentName":"SD 2022 Integrated Report","documentDescription":null,"documentComments":"SD 2022 IR document","documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/10008/205436"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"EPA Transmittal Letter"}],"documentFileType":"application/pdf","documentFileName":"2022 IR Final Transmittal Letter_EPA.pdf","documentName":"SD 2022 IR Transmittal Letter","documentDescription":null,"documentComments":"SD transmittal letter to EPA","documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/10008/205437"},{"agencyCode":"E","documentTypes":[{"documentTypeCode":"EPA Transmittal Letter"}],"documentFileType":"application/pdf","documentFileName":"SD Final 2022 IR EPA Approval Letter signed .pdf","documentName":"SD Final 2022 IR EPA Approval Letter Signed","documentDescription":null,"documentComments":null,"documentURL":"https://attains.epa.gov/attains-public/api/documents/cycles/10008/205830"}], "assessments":[{ "assessmentUnitIdentifier":"SD-BS-R-BIG_SIOUX_15", "agencyCode":"S", "trophicStatusCode":null, "useAttainments":[{"useName":"Fish and Wildlife Propagation, Recreation, and Stock Watering Waters","useAttainmentCode":"F","threatenedIndicator":"N","trendCode":null,"agencyCode":"S","assessmentMetadata":{"assessmentBasisCode":null,"assessmentTypes":[{"assessmentTypeCode":"PHYSICAL/CHEMICAL","assessmentConfidenceCode":"Good"}],"assessmentMethodTypes":[],"monitoringActivity":null,"assessmentActivity":null},"useAttainmentCodeName":"Fully Supporting"},{"useName":"Immersion Recreation Waters","useAttainmentCode":"N","threatenedIndicator":"N","trendCode":null,"agencyCode":"S","assessmentMetadata":{"assessmentBasisCode":null,"assessmentTypes":[{"assessmentTypeCode":"PHYSICAL/CHEMICAL","assessmentConfidenceCode":"Good"}],"assessmentMethodTypes":[],"monitoringActivity":null,"assessmentActivity":null},"useAttainmentCodeName":"Not Supporting"},{"useName":"Irrigation Waters","useAttainmentCode":"F","threatenedIndicator":"N","trend[...]
