http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/assessmentUnits?assessmentUnitIdentifier=AL03150201-0107-200
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2ji2i1sm0vh48ml3d0
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '996'
      x-vcap-request-id: 1f5adc01-b860-40d7-5cfe-9f66594b1041
    body:
      string: '{"items":[{"organizationIdentifier":"21AWIC","organizationName":"Alabama
        Department of Environmental Management","organizationTypeText":"State","assessmentUnits":[{"assessmentUnitIdentifier":"AL03150201-0107-200","assessmentUnitName":"Pine
        Creek","locationDescriptionText":"from Alabama River (Woodruff Lake) to its
        source","agencyCode":"S","stateCode":"AL","statusIndicator":"A","waterTypes":[{"waterTypeCode":"STREAM","waterSizeNumber":9.58,"unitsCode":"Miles","sizeEstimationMethodCode":"GIS
        Calculation","sizeSourceText":"NHD","sizeSourceScaleText":"1:24,000","waterTypeGroupId":"9"}],"locations":[{"locationTypeCode":"River
        Basin","locationText":"Alabama"},{"locationTypeCode":"HUC-8","locationText":"03150201"},{"locationTypeCode":"County","locationText":"Elmore
        County"},{"locationTypeCode":"County","locationText":"Autauga County"}],"monitoringStations":[{"monitoringOrganizationIdentifier":"21AWIC","monitoringLocationIdentifier":"PNCE-1","monitoringDataLinkText":null},{"monitoringOrganizationIdentifier":"21AWIC","monitoringLocationIdentifier":"PINA-2","monitoringDataLinkText":null}],"useClass":{"useClassCode":"156","useClassName":"F&W"},"documents":[]}]}],"count":1}'
  recorded_at: 2026-06-29 19:38:45
recorded_with: VCR-vcr/2.1.0
