http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/domains?domainName=UseName&context=TCEQMAIN
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2ji3l2u66vnc191m90
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '992'
      x-vcap-request-id: 10d15a7f-a04e-4fc5-4c8a-3977da905c49
    body:
      string: '[{"domain":"UseName","name":"Primary Contact Recreation","code":"Primary
        Contact Recreation","context":"21DELAWQ","context2":"RECREATION_USE","dateModified":"2017-08-28"},{"domain":"UseName","name":"SECONDARY
        CONTACT (RECR)","code":"SECONDARY CONTACT (RECR)","context":"CT_DEP01","context2":"RECREATION_USE","dateModified":"2018-08-10"},{"domain":"UseName","name":"Domestic
        Water Supply Waters","code":"Domestic Water Supply Waters","context":"TEST_ORG_C","context2":null,"dateModified":"2017-08-28"},{"domain":"UseName","name":"Aquatic
        Life","code":"Aquatic Life","context":"HVTEPA","context2":"ECOLOGICAL_USE","dateModified":"2017-12-08"},{"domain":"UseName","name":"Hydroelectric
        Power Generation","code":"Hydroelectric Power Generation","context":"MEDEP","context2":"OTHER_USE","dateModified":"2017-08-28"},{"domain":"UseName","name":"Aquatic
        Life: Lake Sturgeon Waters","code":"Aquatic Life: Lake Sturgeon Waters","context":"LRBOI","context2":"ECOLOGICAL_USE","dateModified":"2021-01-06"},{"domain":"UseName","name":"Outstanding
        Tribal Resource Waters","code":"Outstanding Tribal Resource Waters","context":"TAOSPBLO","context2":"OTHER_USE","dateModified":"2021-01-06"},{"domain":"UseName","name":"Wildlife","code":"Wildlife","context":"WIDNR","context2":"ECOLOGICAL_USE","dateModified":"2022-05-23"},{"domain":"UseName","name":"Aquatic
  [...]
