http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/domains?domainName=UseName&context=TCEQMAIN
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"domain":"UseName","name":"Recreation Use","code":"Recreation Use","context":"TCEQMAIN"},{"domain":"UseName","name":"Fish
        Consumption Use","code":"Fish Consumption Use","context":"TCEQMAIN"},{"domain":"UseName","name":"INTERMEDIATE
        AQUATIC LIFE","code":"INTERMEDIATE AQUATIC LIFE","context":"TCEQMAIN"},{"domain":"UseName","name":"OVERALL
        USE SUPPORT","code":"OVERALL USE SUPPORT","context":"TCEQMAIN"},{"domain":"UseName","name":"Aquatic
        Life Use","code":"Aquatic Life Use","context":"TCEQMAIN"},{"domain":"UseName","name":"Oyster
        Water[...]
