http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/huc12summary?huc=020700100204
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2ji4c5vo7ambnmrb30
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '988'
      x-vcap-request-id: 30b96361-8493-42d1-4dab-d315429c664f
    body:
      string: '{"items":[{"huc12":"020700100204","assessmentUnitCount":18,"totalCatchmentAreaSqMi":46.137,"totalHucAreaSqMi":null,"assessedCatchmentAreaSqMi":35.226,"assessedCatchmentAreaPercent":76.351,"assessedGoodCatchmentAreaSqMi":0,"assessedGoodCatchmentAreaPercent":0,"assessedUnknownCatchmentAreaSqMi":0,"assessedUnknownCatchmentAreaPercent":0,"containImpairedWatersCatchmentAreaSqMi":35.226,"containImpairedWatersCatchmentAreaPercent":76.351,"containRestorationCatchmentAreaSqMi":35.226,"containRestorationCatchmentAreaPercent":76.351,"assessmentUnits":[{"assessmentUnitId":"MD-02140205-Northwest_Branch"},{"assessmentUnitId":"MD-02140205"},{"assessmentUnitId":"DCTFD01R_00"},{"assessmentUnitId":"DCTNA01R_00"},{"assessmentUnitId":"DCTFS01R_00"},{"assessmentUnitId":"MD-ANATF"},{"assessmentUnitId":"MD-02140205-Mainstem"},{"assessmentUnitId":"DCTTX27R_00"},{"assessmentUnitId":"MD-ANATF-SWSAV"},{"assessmentUnitId":"DCTFC01R_00"},{"assessmentUnitId":"DCTWB00R_02"},{"assessmentUnitId":"DCANA00E_02"},{"assessmentUnitId":"DCTHR01R_00"},{"assessmentUnitId":"DCTWB00R_01"},{"assessmentUnitId":"DCTPB01R_00"},{"assessmentUnitId":"DCTDU01R_00"},{"assessmentUnitId":"DCANA00E_01"},{"assessmentUnitId":"DCAKL00L_00"}],"summaryByIRCategory":[{"epaIRCategoryName":"4A","catchmentSizeSqMi":13.223,"catchmentSizePercent":28.662,"assessmentUnitCount":11},{"epaIRCategoryName":"5","catchmentSizeSqMi":23.033,"catchmentSizePercent":49.923,"assessmentUnitCount":7}],"summaryByOverallStatus":[{"overallStatus":"Not
        Supporting","catchmentSizeSqMi":35.226,"catchmentSizePercent":76.351,"assessmentUnitCount":18}],"summaryByUseGroup":[{"useGroupName":"ECOLOGICAL_USE","useAttainmentSummary":[{"useAttainment":"Insufficient
        Information","catchmentSizeSqMi":18.797,"catchmentSizePercent":40.743,"assessmentUnitCount":1},{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":1.005,"catchmentSizePercent":2.179,"assessmentUnitCount":15}]},{"useGroupName":"FISHCONSUMPTION_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":10.951,"catchmentSizePercent":23.737,"assessmentUnitCount":16}]},{"useGroupName":"OTHER_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":1.004,"catchmentSizePercent":2.176,"assessmentUnitCount":3}]},{"useGroupName":"RECREATION_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":15.882,"catchmentSizePercent":34.423,"assessmentUnitCount":2},{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":0.012,"catchmentSizePercent":0.027,"assessmentUnitCount":15}]}],"summaryByUse":[{"useName":"Aquatic
        Life and Wildlife","useGroupName":"ECOLOGICAL_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":18.797,"catchmentSizePercent":40.743,"assessmentUnitCount":1}]},{"useName":"Fishing","useGroupName":"FISHCONSUMPTION_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":1.005,"catchmentSizePercent":2.179,"assessmentUnitCount":3}]},{"useName":"Navigation","useGroupName":"OTHER_USE","useAttainmentSummary":[{[...]
