http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/huc12summary?huc=020700100204
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"items":[{"huc12":"020700100204","assessmentUnitCount":20,"totalCatchmentAreaSqMi":46.245,"totalHucAreaSqMi":46.179,"assessedCatchmentAreaSqMi":44.13,"assessedCatchmentAreaPercent":95.427,"assessedGoodCatchmentAreaSqMi":1.773,"assessedGoodCatchmentAreaPercent":3.834,"assessedUnknownCatchmentAreaSqMi":0,"assessedUnknownCatchmentAreaPercent":0,"containImpairedWatersCatchmentAreaSqMi":44.13,"containImpairedWatersCatchmentAreaPercent":95.427,"containRestorationCatchmentAreaSqMi":44.13,"containRestorationCatchmentAreaPercent":95.427,"assessmentUnits":[{"assessmentUnitId":"MD-ANATF-02140205"},{"assessmentUnitId":"MD-02140205-Northwest_Branch"},{"assessmentUnitId":"MD-02140205"},{"assessmentUnitId":"DCTFD01R_00"},{"assessmentUnitId":"MD-ANATF"},{"assessmentUnitId":"DCTFS01R_00"},{"assessmentUnitId":"DCTNA01R_00"},{"assessmentUnitId":"DCTTX27R_00"},{"assessmentUnitId":"DCTFC01R_00"},{"assessmentUnitId":"MD-02140205-Mainstem"},{"assessmentUnitId":"MD-02140205-Mainstem2"},{"assessmentUnitId":"MD-02140205-Northeast_Northwest_Branches"},{"assessmentUnitId":"DCTWB00R_02"},{"assessmentUnitId":"DCTWB00R_01"},{"assessmentUnitId":"DCANA00E_02"},{"assessmentUnitId":"DCTHR01R_00"},{"assessmentUnitId":"DCTPB01R_00"},{"assessmentUnitId":"DCTDU01R_00"},{"assessmentUnitId":"DCANA00E_01"},{"assessmentUnitId":"DCAKL00L_00"}],"summaryByIRCategory":[{"epaIRCategoryName":"1","catchmentSizeSqMi":1.773,"catchmentSizePercent":3.834,"assessmentUnitCount":2},{"epaIRCategoryName":"4A","catchmentSizeSqMi":25.348,"catchmentSizePercent":54.812,"assessmentUnitCount":11},{"epaIRCategoryName":"5","catchmentSizeSqMi":37.891,"catchmentSizePercent":81.934,"assessmentUnitCount":7}],"summaryByUseGroup":[{"useGroupName":"ECOLOGICAL_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":19.487,"catchmentSizePercent":42.139,"assessmentUnitCount":15}]},{"useGroupName":"FISHCONSUMPTION_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":1.773,"catchmentSizePercent":3.834,"assessmentUnitCount":2},{"useAttainment":"Insufficient
        Information","catchmentSizeSqMi":1.914,"catchmentSizePercent":4.138,"assessmentUnitCount":1},{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":22.778,"catchmentSizePercent":49.256,"assessmentUnitCount":16}]},{"useGroupName":"OTHER_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":1.91,"catchmentSizePercent":4.131,"assessmentUnitCount":3}]},{"useGroupName":"RECREATION_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":24.503,"catchmentSizePercent":52.985,"assessmentUnitCount":15}]}],"summaryByUse":[{"useName":"Aquatic
        Life and Wildlife","useGroupName":"ECOLOGICAL_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":19.487,"catchmentSizePercent":42.139,"assessmentUnitCount":1}]},{"useName":"Fishing","useGroupName":"FISHCONSUMPTION_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":1.773,"catchmentSizePercent":3.834,"assessmentUnitCount":2},{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":1.914,"catchme[...]
