http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/huc12summary?huc=020700100204
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"items":[{"huc12":"020700100204","assessmentUnitCount":17,"totalCatchmentAreaSqMi":46.137,"totalHucAreaSqMi":46.179,"assessedCatchmentAreaSqMi":35.226,"assessedCatchmentAreaPercent":76.351,"assessedGoodCatchmentAreaSqMi":0,"assessedGoodCatchmentAreaPercent":0,"assessedUnknownCatchmentAreaSqMi":0,"assessedUnknownCatchmentAreaPercent":0,"containImpairedWatersCatchmentAreaSqMi":35.226,"containImpairedWatersCatchmentAreaPercent":76.351,"containRestorationCatchmentAreaSqMi":35.226,"containRestorationCatchmentAreaPercent":76.351,"assessmentUnits":[{"assessmentUnitId":"MD-02140205-Northwest_Branch"},{"assessmentUnitId":"MD-02140205"},{"assessmentUnitId":"DCTFD01R_00"},{"assessmentUnitId":"DCTNA01R_00"},{"assessmentUnitId":"DCTFS01R_00"},{"assessmentUnitId":"MD-ANATF"},{"assessmentUnitId":"DCTTX27R_00"},{"assessmentUnitId":"DCTFC01R_00"},{"assessmentUnitId":"MD-02140205-Mainstem"},{"assessmentUnitId":"DCTWB00R_02"},{"assessmentUnitId":"DCANA00E_02"},{"assessmentUnitId":"DCTHR01R_00"},{"assessmentUnitId":"DCTWB00R_01"},{"assessmentUnitId":"DCTPB01R_00"},{"assessmentUnitId":"DCTDU01R_00"},{"assessmentUnitId":"DCANA00E_01"},{"assessmentUnitId":"DCAKL00L_00"}],"summaryByIRCategory":[{"epaIRCategoryName":"4A","catchmentSizeSqMi":12.666,"catchmentSizePercent":27.454,"assessmentUnitCount":10},{"epaIRCategoryName":"5","catchmentSizeSqMi":25.819,"catchmentSizePercent":55.962,"assessmentUnitCount":7}],"summaryByOverallStatus":[{"overallStatus":"Not
        Supporting","catchmentSizeSqMi":35.226,"catchmentSizePercent":76.351,"assessmentUnitCount":17}],"summaryByUseGroup":[{"useGroupName":"ECOLOGICAL_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":10.939,"catchmentSizePercent":23.711,"assessmentUnitCount":13}]},{"useGroupName":"FISHCONSUMPTION_USE","useAttainmentSummary":[{"useAttainment":"Insufficient
        Information","catchmentSizeSqMi":15.882,"catchmentSizePercent":34.423,"assessmentUnitCount":1},{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":15.882,"catchmentSizePercent":34.423,"assessmentUnitCount":12}]},{"useGroupName":"OTHER_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":0.683,"catchmentSizePercent":1.481,"assessmentUnitCount":3}]},{"useGroupName":"RECREATION_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":15.198,"catchmentSizePercent":32.942,"assessmentUnitCount":13}]}],"summaryByUse":[{"useName":"Navigation","useGroupName":"OTHER_USE","useAttainmentSummary":[{"useAttainment":"Fully
        Supporting","catchmentSizeSqMi":10.939,"catchmentSizePercent":23.711,"assessmentUnitCount":3}]},{"useName":"Primary
        Contact Recreation","useGroupName":"RECREATION_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":15.882,"catchmentSizePercent":34.423,"assessmentUnitCount":13}]},{"useName":"Protection
        and Propagation of Fish, Shellfish and Wildlife","useGroupName":"ECOLOGICAL_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":15.882,"catchmentSizePercent":34.423,"assessmentUnitCount":13}]},{"useName":"Protection
        of Human Health related to Consumption of Fish and Shellfish","useGroupName":"FISHCONSUMPTION_USE","useAttainmentSummary":[{"useAttainment":"Insufficient
        Information","catchmentSizeSqMi":0.683,"catchmentSizePercent":1.481,"assessmentUnitCount":1},{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":15.198,"catchmentSizePercent":32.942,"assessmentUnitCount":12}]},{"useName":"Secondary
        Contact Recreation and Aesthetic Enjoyment","useGroupName":"RECREATION_USE","useAttainmentSummary":[{"useAttainment":"Not
        Supporting","catchmentSizeSqMi":15.882,"catchmentSizePercent":34.423,"assessmentUnitCount":13}]}],"summaryByParameterImpairments":[{"parameterGroupName":"ALGAL
        GROWTH","catchmentSizeSqMi":9.208,"catchmentSizePercent":19.959,"assessmentUnitCount":2},{"parameterGroupName":"CHLORINE","catchmentSizeSqMi":1.729,"catchmentSizePercent":3.748,"assessmentUnitCount":1},{"parameterGroupName":"HABITAT
        ALTERATIONS","catchmentSizeSqMi":2.799,"catchmentSizePercent":6.066,"assessmentUnitCount":2},{"parameterGroupName":"HYDROLOGIC
        ALTERATION","catchmentSizeSqMi":5.982,"catchmentSizePercent":12.967,"assessmentUnitCount":5},{"parameterGroup[...]
