http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/plans?huc=020700100103&summarize=Y
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"items":[{"actionIdentifier":"64089","actionName":"Battery Kemble
        Creek","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA Final
        Action","completionDate":"2014-12-31","organizationId":"DOEE","TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2014-12-31","indianCountryIndicator":"N"},"associatedPollutants":[{"pollutantName":"ESCHERICHIA
        COLI (E. COLI)","auCount":"1"}],"parameters":[{"parameterName":"FECAL COLIFORM","auCount":"1"}],"associatedActions":[]},{"actionIdentifier":"26261","actionName":"BATTERY
        KEMBLE CREEK","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2005-05-30","organizationId":"DOEE","TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2005-05-30","indianCountryIndicator":"N"},"associatedPollutants":[{"pollutantName":"ZINC","auCount":"1"}],"parameters":[{"parameterName":"METALS
        (OTHER THAN MERCURY)","auCount":"1"}],"associatedActions":[]},{"action[...]
