http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/plans?huc=020700100103&summarize=N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"items":[{"actionIdentifier":"64089","actionName":"Battery Kemble
        Creek","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA Final
        Action","completionDate":"2014-12-31","organizationId":"DOEE","documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"TMDL
        Report"}],"documentFileType":"application/pdf","documentFileName":"Potomac
        Bacteria TMDL Revision_AL&DR.pdf","documentName":"Potomac Bacteria TMDL Revision_AL&DR.pdf","documentDescription":null,"documentComments":"Legacy
        document:TMDL Report","documentURL":"http://ofmpub.epa.gov/waters10/attains_impaired_waters.show_tmdl_document?p_tmdl_doc_blobs_id=67702"}],"associatedWaters":{"specificWaters":[{"assessmentUnitIdentifier":"DCTBK01R_00","associatedPollutants":[],"parameters":[],"sources":[]},{"assessmentUnitIdentifier":"DC_21_DCTBK01R_00","associatedPollutants":[{"pollutantName":"ESCHERICHIA
        COLI (E. COLI)","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":"4.37e+10","implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[{"NPDESIdentifier":"DC0000221","otherIdentifier":null,"details":[{"wasteLoadAllocationNumeric":7.04E10,"wasteLoadAllocationUnitsText":"MPN/100ML","seasonStartText":null,"seasonEndText":null}]}],"TMDLEndPointText":"104
        MPN/100 ml"}],"parameters":[{"parameterName":"FECAL COLIFORM","associatedPollutants":[{"pollutantName":"ESCHERICHIA
        COLI (E. COLI)"}]}],"sources":[]}]},"TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2014-12-31","indianCountryIndicator":"N"},"pollutants":[],"associatedActions":[]},{"actionIdentifier":"26261","actionName":"BATTERY
        KEMBLE CREEK","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2005-05-30","organizationId":"DOEE","documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Other"}],"documentFileType":"application/pdf","documentFileName":"PotomacTribAppxA.pdf","documentName":"PotomacTribAppxA.pdf","documentDescription":null,"documentComments":"Legacy
        document:Unspecified","doc[...]
