http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/plans?huc=020700100103&summarize=N
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"items":[{"actionIdentifier":"26252","actionName":"WASHINGTON SHIP
        CHANNEL","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2004-12-15","organizationId":"DOEE","documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Other"}],"documentFileType":"application/pdf","documentFileName":"Ship&TidalBacteria_DR.pdf","documentName":"Ship&TidalBacteria_DR.pdf","documentDescription":null,"documentComments":"Legacy
        document:Unspecified","documentURL":"https://attains.epa.gov/attains-public/api/documents/actions/DOEE/26252/102317"},{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Other"}],"documentFileType":"application/pdf","documentFileName":"Ship&TidalBact_AM.pdf","documentName":"Ship&TidalBact_AM.pdf","documentDescription":null,"documentComments":"Legacy
        document:Unspecified","documentURL":"https://attains.epa.gov/attains-public/api/documents/actions/DOEE/26252/102272"}],"associatedWaters":{"specificWaters":[{"assessmentUnitIdentifier":"DC_20_DCPWC04E_00","associatedPollutants":[{"pollutantName":"FECAL
        COLIFORM","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":"POINT
        AND NONPOINT"}],"parameters":[{"parameterName":"FECAL COLIFORM","associatedPollutants":[{"pollutantName":"FECAL
        COLIFORM"}]}],"sources":[]},{"assessmentUnitIdentifier":"DCPWC04E_00","associatedPollutants":[],"parameters":[],"sources":[]}]},"TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2004-12-15","indianCountryIndicator":"N"},"pollutants":[],"associatedActions":[],"histories":[]},{"actionIdentifier":"26260","actionName":"BATTERY
        KEMBLE CREEK","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2005-05-30","organizationId":"DOEE","documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"Other"}],"documentFileType":"application/pdf","documentFileName":"PotomacTribAppxA.pdf","documentName":"PotomacTribAppxA.pdf","documentDescription":null,"documentComments":"Legacy
        document:Unspecified","doc[...]
