http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/plans?huc=020700100103&summarize=N
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2ji70lu2b62c8a0h60
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '984'
      x-vcap-request-id: 8606ea86-c877-43c5-4091-49d37713b55f
    body:
      string: '{"items":[{"actionIdentifier":"DC_2001_Anacostia_BOD","actionName":"Total
        Maximum Daily Loads Upper Anacostia River, Lower Anacostia River, Biochemical
        Oxygen Demand","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2001-12-14","organizationId":"DOEE","documents":[{"agencyCode":"S","documentTypes":[{"documentTypeCode":"TMDL
        Report"}],"documentFileType":"application/pdf","documentFileName":"DC_2001_AnacostiaRiver_BOD_TMDL.pdf","documentName":"DC_2001_AnacostiaRiver_BOD_TMDL","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/actions/DOEE/DC_2001_Anacostia_BOD/221091"},{"agencyCode":"E","documentTypes":[{"documentTypeCode":"EPA
        Decision Rationale"},{"documentTypeCode":"Transmitted Approval Letter"}],"documentFileType":"application/pdf","documentFileName":"DC_2001_AnacostiaRiver_BOD_DR.pdf","documentName":"DC_2001_AnacostiaRiver_BOD_DR","documentDescription":null,"documentComments":null,"documentURL":"https://api.epa.gov/attains/documents/actions/DOEE/DC_2001_Anacostia_BOD/221090"}],"associatedWaters":{"specificWaters":[{"assessmentUnitIdentifier":"DCANA00E_02","associatedPollutants":[{"pollutantName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":null},{"pollutantName":"NITROGEN","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":null},{"pollutantName":"PHOSPHORUS","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":null}],"parameters":[{"parameterName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)","associatedPollutants":[{"pollutantName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)"}]},{"parameterName":"NITROGEN","associatedPollutants":[{"pollutantName":"NITROGEN"}]},{"parameterName":"PHOSPHORUS","associatedPollutants":[{"pollutantName":"PHOSPHORUS"}]}],"sources":[]},{"assessmentUnitIdentifier":"DCANA00E_01","associatedPollutants":[{"pollutantName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":null},{"pollutantName":"PHOSPHORUS","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":null},{"pollutantName":"NITROGEN","pollutantSourceTypeCode":"Both","explicitMarginofSafetyText":null,"implicitMarginofSafetyText":null,"loadAllocationDetails":[],"permits":[],"TMDLEndPointText":null}],"parameters":[{"parameterName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)","associatedPollutants":[{"pollutantName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)"}]},{"parameterName":"PHOSPHORUS","associatedPollutants":[{"pollutantName":"PHOSPHORUS"}]},{"parameterName":"NITROGEN","associatedPollutants":[{"pollutantName":"NITROGEN"}]}],"sources":[]}]},"TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2001-12-14","indianCountryIndicator":null},"pollutants":[],"associatedActions":[],"histories":[{},{}]},{"actionIdentifier":"DC_2008_Anacostia_BOD","actionName":"Total
        Maximum Daily Loads of Nutrients/Biochemical Oxygen Demand for the Anacostia
        River Basin","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2008-06-05","organizationId":"DOEE","documents":[{"agencyCode":"E","documentTypes":[{"documentTypeCode":"EPA
        Decision Rationale"}],"documentFileType":"application/pdf","documentFileName":"DC_2008_AnacostiaRiv[...]
