http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/plans?huc=020700100103&summarize=Y
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2ji8lavtqbjhiud3l0
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '983'
      x-vcap-request-id: 43cc357f-d2c8-491e-73d4-cada1ce99ae4
    body:
      string: '{"items":[{"actionIdentifier":"DC_2001_Anacostia_BOD","actionName":"Total
        Maximum Daily Loads Upper Anacostia River, Lower Anacostia River, Biochemical
        Oxygen Demand","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2001-12-14","organizationId":"DOEE","TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2001-12-14","indianCountryIndicator":null},"associatedPollutants":[{"pollutantName":"NITROGEN","auCount":"2"}],"parameters":[{"parameterName":"NITROGEN","auCount":"2"}],"associatedActions":[]},{"actionIdentifier":"DC_2008_Anacostia_BOD","actionName":"Total
        Maximum Daily Loads of Nutrients/Biochemical Oxygen Demand for the Anacostia
        River Basin","agencyCode":"S","actionTypeCode":"TMDL","actionStatusCode":"EPA
        Final Action","completionDate":"2008-06-05","organizationId":"DOEE","TMDLReportDetails":{"TMDLOtherIdentifier":null,"TMDLDate":"2008-06-05","indianCountryIndicator":null},"associatedPollutants":[{"pollutantName":"BIOCHEMICAL
        OXYGEN DEMAND (BOD)"[...]
