http_interactions:
- request:
    method: GET
    uri: https://attains.epa.gov/attains-public/api/domains?domainName=OrgStateCode
  response:
    status: 200
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      string: '[{"domain":"OrgStateCode","name":"AK","code":"AK","context":"EPA","context2":"EPA","dateModified":"2017-08-28"},{"domain":"OrgStateCode","name":"FL","code":"FL","context":"21FL303D","context2":"State","dateModified":"2025-01-29"},{"domain":"OrgStateCode","name":"PA","code":"PA","context":"EPA","context2":"EPA","dateModified":"2017-08-28"},{"domain":"OrgStateCode","name":"MT","code":"MT","context":"BLCKFEET","context2":"Tribe","dateModified":"2024-04-09"},{"domain":"OrgStateCode","name":"CC","code":"CC","context":"TEST_ORG_C","context2":"Test","dateModified":"2017-08-28"},{"domain":"OrgStateC[...]
