http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/domains?domainName=OrgStateCode
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '[{"domain":"OrgStateCode","name":"AK","code":"AK","context":"EPA"},{"domain":"OrgStateCode","name":"FL","code":"FL","context":"21FL303D"},{"domain":"OrgStateCode","name":"PA","code":"PA","context":"EPA"},{"domain":"OrgStateCode","name":"CC","code":"CC","context":"TEST_ORG_C"},{"domain":"OrgStateCode","name":"AZ","code":"AZ","context":"TEST_TRIBE_B"},{"domain":"OrgStateCode","name":"MS","code":"MS","context":"21MSWQ"},{"domain":"OrgStateCode","name":"CT","code":"CT","context":"CT_DEP01"},{"domain":"OrgStateCode","name":"ND","code":"ND","context":"21NDHDWQ[...]
