http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/usesStateSummary?organizationId=TDECWR&reportingCycle=2016
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"data":{"organizationIdentifier":"TDECWR","organizationName":"Tennessee","organizationTypeText":"State","reportingCycles":[{"reportingCycle":"2016","combinedCycles":[],"waterTypes":[{"waterTypeCode":"LAKE/RESERVOIR/POND","unitsCode":"Acres","useAttainments":[{"useName":"Fish
        and Aquatic Life","Fully Supporting":531027.34,"Fully Supporting-count":55,"Not
        Assessed":11738.4,"Not Assessed-count":40,"Not Supporting":28508.11,"Not Supporting-count":13,"parameters":[{"parameterGroup":"NUTRIENTS","Cause":1289.22,"Cause-count":5},{"parameterGroup":"METALS
        (OTHER THAN MERCURY)","Cause":2254,"Cause-count":4},{"parameterGroup":"FLOW
        ALTERATION(S)","Cause":494,"Cause-count":1},{"parameterGroup":"TEMPERATURE","Cause":20459,"Cause-count":1},{"parameterGroup":"AMMONIA","Cause":56.1,"Cause-count":1},{"parameterGroup":"PH/ACIDITY/CAUSTIC
        CONDITIONS","Cause":56.1,"Cause-count":1},{"parameterGroup":"SEDIMENT","Cause":3772.12,"Cause-count":7},{"parameterGroup":"SALINITY/TOTAL
        DISSOLVED SOLIDS/CHLOR[...]
