http_interactions:
- request:
    method: get
    uri: https://attains.epa.gov/attains-public/api/surveys?organizationId=SDDENR
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 200
      content-type: application/json;charset=UTF-8
    body:
      encoding: ''
      file: no
      string: '{"items":[{"organizationIdentifier":"SDDENR","organizationName":"South
        Dakota","organizationTypeText":"State","surveys":[{"surveyStatusCode":"Final","year":2018,"surveyCommentText":null,"documents":[],"surveyWaterGroups":[{"waterTypeGroupCode":"LAKE/RESERVOIR/POND","subPopulationCode":"Statewide","unitCode":"Acres","size":213265,"siteNumber":70,"surveyWaterGroupCommentText":"The
        total lake population consisted of 575 lakes designated the beneficial uses
        of recreation and/or warmwater or coldwater fish life propagation accounting
        for 213,265 lake acres in South Dakota.","surveyWaterGroupUseParameters":[{"stressor":"TEMPERATURE","surveyUseCode":"AQUATIC
        LIFE - TEMPERATURE","surveyCategoryCode":"Fully Supporting","statistic":"Condition
        Estimate","metricValue":85.9,"marginOfError":10.0,"confidenceLevel":90.0,"commentText":null},{"stressor":null,"surveyUseCode":"AQUATIC
        LIFE - PH","surveyCategoryCode":"Fully Supporting","statistic":"Condition
        Estimate","metricValue":62.9,"marginOfError":10.0,"confidenceLevel":90.0,"commentText":null},{"stressor":"DISSOLVED
        OXYGEN","surveyUseCode":"AQUATIC LIFE - DISSOLVED OXYGEN","surveyCategoryCode":"Fully
        Supporting","statistic":"Condition Estimate","metricValue":95.1,"marginOfError":10.0,"confidenceLevel":90.0,"commentText":null},{"stressor":null[...]
