http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/surveys?organizationId=SDDENR
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2jiorkdjd9np02h4vg
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '977'
      x-vcap-request-id: 048c33c2-a58d-43b7-546d-fafea0cb87b0
    body:
      string: '{"items":[{"organizationIdentifier":"SDDENR","organizationName":"South
        Dakota","organizationTypeText":"State","surveys":[{"surveyStatusCode":"Final","year":2018,"surveyCommentText":null,"documents":[],"surveyWaterGroups":[{"waterTypeGroupCode":"LAKE/RESERVOIR/POND","subPopulationCode":"Statewide","unitCode":"Acres","size":213265,"siteNumber":70,"surveyWaterGroupCommentText":"The
        total lake population consisted of 575 lakes designated the beneficial uses
        of recreation and/or warmwater or coldwater fish life propagation accounting
        for 213,265 lake acres in South Dakota.","surveyWaterGroupUseParameters":[{"stressor":"TEMPERATURE","surveyUseCode":"AQUATIC
        LIFE - TEMPERATURE","surveyCategoryCode":"Fully Supporting","statistic":"Condition
        Estimate","metricValue":85.9,"marginOfError":10.0,"confidenceLevel":90.0,"commentText":null},{"stressor":null,"surveyUseCode":"AQUATIC
        LIFE - PH","surveyCategoryCode":"Fully Supporting","statistic":"Condition
        Estimate","metricValue":62.9,"marginOfError":10.0,"confidenceLevel":90.0,"commentText":null},{"stressor":"DISSOLVED
        OXYGEN","surveyUseCode":"AQUATIC LIFE - DISSOLVED OXYGEN","surveyCategoryCode":"Fully
        Supporting","statistic":"Condition Estimate","metricValue":95.1,"marginOfError":10.0,"confidenceLevel":90.0,"commentText":null},{"stressor":"ESC[...]
