http_interactions:
- request:
    method: GET
    uri: https://api.epa.gov/attains/usesStateSummary?organizationId=SDDENR&reportingCycle=2024
  response:
    status: 200
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
      x-api-umbrella-request-id: cv2l13heoo29gdoao2a0
      x-ratelimit-limit: '1000'
      x-ratelimit-remaining: '977'
      x-vcap-request-id: 91b8a958-8bb4-4311-505a-603c84ba1f69
    body:
      string: '{"data":{"organizationIdentifier":"SDDENR","organizationName":"South
        Dakota","organizationTypeText":"State","reportingCycles":[{"reportingCycle":"2024","cycleStatus":"EPA
        Final Action","combinedCycles":[],"waterTypes":[{"waterTypeCode":"LAKE/RESERVOIR/POND","unitsCode":"Acres","useAttainments":[{"useName":"Warmwater
        Semipermanent Fish Life Propagation Waters","Fully Supporting":7386.56,"Fully
        Supporting-count":15,"Insufficient Information":157.43,"Insufficient Information-count":1,"Not
        Supporting":31710.79,"Not Supporting-count":32,"parameters":[{"parameterGroup":"PH/ACIDITY/CAUSTIC
        CONDITIONS","Cause":2305.25,"Cause-count":10,"Insufficient Information":437.64,"Insufficient
        Information-count":2,"Meeting Criteria":34072.66,"Meeting Criteria-count":21},{"parameterGroup":"TURBIDITY","Insufficient
        Information":608.01,"Insufficient Information-count":3,"Meeting Criteria":36043.56,"Meeting
        Criteria-count":28},{"parameterGroup":"TEMPERATURE","Insufficient Information":280.21,"Insufficient
        Information-count":1,"Meeting Criteria":36540.08,"Meeting Criteria-count":30},{"parameterGroup":"ALGAL
[...]
